* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/******** NAVBAR ********/  

header,
#menu {
    background-color: #0869A6;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

header,
#navbar-container {
    height: 100px;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
    max-width: 1440px;
    padding: 10px;
}

#brand {
    display: flex;
    margin: auto;
}

#toggle-button {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    position: absolute;
    top: 30px;
    width: 40px;
}

#toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.363)
}

#toggle-button:active {
    background-color: rgba(255, 255, 255, 0.733)
}

#toggle-button span {
    color: black;
    font-size: 28px;
    left: 10px;
    text-align: center;
    width: 40px;
}

#menu {
    left: -100%;
    padding: 10px;
    position: absolute;
    top: 100px;
    transition: left .5s;
    width: 100%;
}

#menu.active {
    left: 0;
}

#menu ul li {
    display: flex;
    margin: 20px 0 20px;
}

#brand,
#menu ul li a {
    color: white;
    text-decoration: none;
}

#menu ul li a,
#navbar-button-login,
#navbar-button-register {
    font-size: 24px;
    margin: 0 auto 0;
}

#menu ul li a:hover,
#navbar-button:hover,
#navbar-button-login:hover,
#navbar-button-register:hover {
    font-weight: bold;
}

#navbar-button-login,
#navbar-button-register {
    border: none;
    cursor: pointer;
    height: 50px;
}

#navbar-button-login {
    background-color: #F2F2F2;
    width: 177px;
}

#navbar-button-register {
    background-color: #30A8F2;
    width: 150px;
}

/******** END NAVBAR ********/

/******** HERO PAGE ********/  


#hero {
    width: 100%;
    height: 867px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

#title { 
    flex-direction: column;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;

    color: #89BAD9;
    max-width: 480px;
    text-align: center;
    margin: 20px auto 20px;
}

#image {
    
    max-width: 100%;
    background-size: cover;
    width: 440px;
    height: 356px;
    margin: 0 auto 0;
}

#text {
    margin: 20px auto 20px;
}

#text > p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    max-width: 440px;
    height: 120px;

    font-size: 40px;
    display: block;
    text-align: center;
}

#text > a > input {    
    
    font-size: 25px;
    display: block;
    margin: 0 auto 0;
    width: 157px;
    height: 50px;
    background-color: #30A8F2;
    border: none;   
    cursor: pointer;
    box-shadow: 0 .5rem 1rem #30A8F2;
    transition: all .3s linear;
}

#text > a > input:hover {
    transform: scale(1.1);
}

/******** END HERO PAGER ********/

/******** BENEFITS ********/  
.benefits{
    text-align: center;
    padding: 40px 0;
}

.inner-benefit{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row-benefit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-benefit{
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.benefit {
    background: #fff;
    padding: 30px;
}

.benefits img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title-section{
    font-size: 36px;
}

.benefit p {
    font-size: 24px;
}
/******** END BENEFITS ********/

/******** SERVICES ********/  
.services{
    text-align: center;
    padding: 40px 0;
    background: #89BAD9;
}

.inner-service{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-service{
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    max-width: 500px;
    min-width: 440px;
}

.service {
    padding: 10px 0 ;
    display: flex;
}

.services img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.title-section{
    font-size: 36px;
}

.service p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;    
    padding-left: 4px; 
    padding-right: 4px; 
}
/******** END SERVICES ********/

/******** RATES ********/  
.plans{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.plans-col{
    flex-basis: 25%;
    background: #A2DBFA;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 20px 30px;
    transition: 1s;
}
.plans-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}
.plans-col li{
    list-style: none;
    padding-bottom: 15px;
    position: relative;
}
.btn{
    background-color: #30A8F2;
    border: 10px solid #30A8F2;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
}
/******** END RATES ********/

/******** RENT VEHICLE ********/  
#rent {
    background-color: #89BAD9;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#rent h1 {
    font-size: 36px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#rent p {
    font-size: 24px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#rent a {
    width: 214px;
    height: 82px;
    font-size: 28px;
    background-color: #30A8F2;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

#rent a:hover {
    background-color: #FFFFFF;
}
/******** END RENT VEHICLE ********/

/******** US ********/  
#us {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#us h1 {
    font-size: 55px;
    padding: 30px;
}

#us img{
    width: 80%;
    height: 282px;
}

#us p {
    font-size: 24px;
    text-align: justify;
    padding: 30px;
}
/******** END US ********/

/******** FOOTER ********/  
.footer-design1{
    background: #1f1f1f;
    color: white;
}
.footer-design1-row{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.footer-design1-col{
    flex-basis: 15%;
    background: #1f1f1f;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 55px 5px;
    margin-bottom: 3%;
}
.footer-design2{
    background: #303030;
    color: white;

}
.footer-design2 h1{
    font-size: 15px;
}
.footer-design1-col li{
    list-style: none;
    padding-bottom: 17px;
    padding-top: 15px;
    position: relative;
}
.footer-design1-col a{
    color: white;
    text-decoration: none;
}
.icon{
    padding: 0 5px 0 20px;
    cursor: pointer;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4cvhyb');
    src:  url('fonts/icomoon.eot?4cvhyb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4cvhyb') format('truetype'),
    url('fonts/icomoon.woff?4cvhyb') format('woff'),
    url('fonts/icomoon.svg?4cvhyb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    color: #3b5998;
    content: "\ea90";
}
.icon-instagram:before {
    color: #3f729b;
    content: "\ea92";
}
.icon-whatsapp:before {
    color: #00bb2d;
    content: "\ea93";
}
.icon-twitter:before {
    color: #30A8F2;
    content: "\ea96";
}
.icon-youtube:before {
    color: #c4302b;
    content: "\ea9d";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eac9";
}
/******** END FOOTER ********/

@media (min-width: 576px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    #hero{
        height: 970px;
    }


    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  
    #us img{
        width: 430px;
        height: 282px;
    }
    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 768px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/ 
    .title-section{
        font-size: 55px;
    } 
    .col-benefit{
        flex: 33.33%;
        max-width: 33.33%;
    }
    .benefit p {
        font-size: 36px;
    }
    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/
    .title-section{
        font-size: 55px;
    }
    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  
  
    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 992px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    @media (min-width: 992px) {
        #hero {
            height: 722px;
            display: grid;
            grid-template-areas: "title image" 
                                 "text image";
            grid-template-columns: 50% 40%;
            grid-template-rows: 50% 50%;
        }
    
        #title {
            font-size: 74px;
            grid-area: title;
            margin: auto auto 15px;
        }
    
        #text {
            grid-area: text;
            margin: 30px auto auto;
        }

        #text > p {
            height: 160px;
        }
    
        #image {
            grid-area: image;
            margin: auto;
        }
    }

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  
    .col-service{
        flex: 33.33%;
        max-width: 33.33%;
    }
    /******** END SERVICES ********/

    /******** RATES ********/  

    /******** END RATES ********/   

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 1200px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/

    /******** RATES ********/  
    .row{
        flex-direction: row;
    }
    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 1400px) {
    /******** NAVBAR ********/  

    #toggle-button {
        display: none;
    }

    #menu {
        margin: auto 0 auto;
    }

    #menu,
    #menu.active {
        left: auto;
        margin-left: auto;
        position: relative;
        top: auto;
        transition: none;
        width: auto;
    }

    #menu ul li {
        display: inline;
        margin-left: 30px;
    }

    #navbar-button {
        font-size: 24px;
    }

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/

    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  
    #rent h1 {
        font-size: 55px;
    }

    #rent p {
        font-size: 36px;
    }

    #rent button {
       font-size: 36px;
    }
    /******** END RENT VEHICLE ********/

    /******** US ********/  

    .content-us {
        display: flex;
        flex-direction: row;
    }

    #us p {
        font-size: 36px;
    }
    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}
#about-the-product, #about-the-team{
    display: flex;
    justify-content: center;
}

#about-the-product-section, #about-the-team-section {
    background-color: #89BAD9;
    margin: 0px;
    padding: 10px;
}

#about-the-product-title, #about-the-team-title {
    margin: 0px;
}